[mysqld]

# отключаем автокоммит
autocommit = 0

# устанавливаем размер выделяемой памяти для рабочих буферов
innodb_buffer_pool_size = 536870912

# устанавливаем размер выделяемой памяти для таблиц MEMORY
max_heap_table_size = 17999872

# загружаем плагин шифрования табличных пространств и данных
early-plugin-load = keyring_file.so

# устанавливаем директорию для хранения файлов рабочих данных таблиц
secure_file_priv = /var/lib/mysql-files
